<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <% if recipe.photo.attached? %>
        <%= image_tag recipe.photo %>
      <% else %>
        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
      <% end %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= recipe.title %></p>
      </div>
    </div>

    <div class="content">
      <%= recipe.description %>
    </div>
  </div>
</div>

