<%= link_to "新增食譜", new_recipe_path, class: 'button is-danger' %>

<div class="columns is-multiline">
  <% @recipes.each do |recipe| %>
    <div class="column is-3">
      <%= render 'recipe', recipe: recipe %>
    </div>
  <% end %>
</div>

