body {
  padding-left: 1rem;
  padding-right: 1rem;
}

.card {
  .card-image {
    figure {
      img {
        object-fit: cover;
      }
    }
  }
}

.field_with_errors {
  display: inline-block;
}

.field_with_errors input {
  border-width: 2px;
  border-color: red;
}

